<header>
  <div class="title">
    <span id="ruby"><em>Ruby</span></em><span id="thursdays">Thursdays</span>
  </div>
</header>

<h3>John DeSilva</h3>

<a href="http://www.github.com/Aesthetikx/">GitHub.com/Aesthetikx</a>
