div.sidebar {
  background-color: #222;
  color: #FFF;
  font-family: 'Source Sans Pro', sans-serif;

  a:link, a:visited, a:active {
    color: transparentize($link-color, 0.3);
    &:hover { 
      color: $link-color; 
    }
  }

  header {
    .title {
      font-size: 1.8em;
      #ruby, #thursdays { 
        opacity: 0; 
      }
    }
    margin: 1em;
  }

  .gravatar {
    border-radius: 6px;
  }

  .info-table td {
    vertical-align: top;
  }

  .bottom-info {
    font-size: 0.8em;
    text-align: center;
    margin: 1em;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  /* Large screen */
  @media screen and (min-width: 700px) {
    .title { display: block; }
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 275px;
    padding: 1em;
  }

  /* Small screen */
  @media screen and (max-width: 700px) {
    .title { display: none; }
    .bottom-info { display: none; }
    width: 100%;
    padding: 1em;
  }

}
