div.sidebar {
  background-color: #222;
  color: #FFF;
  font-family: 'Source Sans Pro', sans-serif;

  a:link, a:visited, a:active {
    color: transparentize($link-color, 0.3);

    &:hover {
      color: $link-color;
    }
  }

  .tag-cloud-title {
    margin-bottom: 0.2em;
  }

  header {
    .title {
      font-size: 1.8em;
      #ruby, #thursdays {
        opacity: 0;
      }
    }
  }

  /* Large screen */
  @media screen and (min-width: 700px) {
    .title {
      display: block;
    }
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 275px;
    padding: 2em;
  }

  /* Small screen */
  @media screen and (max-width: 700px) {
    width: 100%;
    .title {
      display: none;
    }
    padding: 1em;
    h3 {
      margin: 0;
    }
  }

}
