div.sidebar {
  background-color: #222;
  color: #FFF;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  margin: 0px 0px 0px 0px;
  width: 25%;
  font-family: 'Source Sans Pro', sans-serif;
}

div#sidebar {
  margin: 2em;
  header {
    margin-right: 0;
    .title {
      font-size: 1.8em;
      #ruby, #thursdays {
        opacity: 0;
      }
    }
  }
}
