.tag-cloud-title{ 
  margin-bottom: 0;
}

.tag-cloud {
  .css1 {
    font-size: 0.6em;
  }
  .css2 {
    font-size: 0.8em;
  }
  .css3 {
    font-size: 1.0em;
  }
  .css4 {
    font-size: 1.2em;
  }
}
